# Global Configuration
GLOBAL_NAME=passbolt
RESTART_POLICY=unless-stopped
TIMEZONE=Asia/Bangkok
HEALTHCHECK_INTERVAL=30s
HEALTHCHECK_TIMEOUT=10s
HEALTHCHECK_RETRIES=3

# MariaDB Configuration
MARIADB_CONTAINER_NAME=passbolt_db
MARIADB_IMAGE_NAME=mariadb
MARIADB_IMAGE_VERSION=10.11
MARIADB_PORT=3306
MARIADB_DATABASE=passbolt
MARIADB_USER=passbolt
MARIADB_PASSWORD=P@ssw0rd

# Passbolt Configuration
PASSBOLT_CONTAINER_NAME=passbolt_app
PASSBOLT_IMAGE_NAME=passbolt/passbolt
PASSBOLT_IMAGE_VERSION=latest-ce
PASSBOLT_HTTP_PORT=80
PASSBOLT_HTTPS_PORT=443
PASSBOLT_APP_URL=https://localhost