# Global Configuration
GLOBAL_NAME=passbolt
RESTART_POLICY=unless-stopped
TIMEZONE=Asia/Bangkok
HEALTHCHECK_INTERVAL=30s
HEALTHCHECK_TIMEOUT=5s
HEALTHCHECK_RETRIES=3

# Postgres Configuration
POSTGRES_CONTAINER_NAME=passbolt_db
POSTGRES_IMAGE_NAME=docker.io/postgres
POSTGRES_IMAGE_VERSION=15.4
POSTGRES_PORT=5432
POSTGRES_USER=passbolt
POSTGRES_PASSWORD=passbolt
POSTGRES_DATABASE=passbolt

# Passbolt Configuration
PASSBOLT_CONTAINER_NAME=passbolt_app
PASSBOLT_IMAGE_NAME=docker.io/passbolt/passbolt
PASSBOLT_IMAGE_VERSION=4.0.2-ce
PASSBOLT_HTTP_PORT=80
PASSBOLT_HTTPS_PORT=443
PASSBOLT_APP_URL=https://localhost